@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Jersey 25", sans-serif;
    letter-spacing: 1px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 142, 51, 0.432);
}

.parent {
    width: 1200px;
    height: 600px;
    display: grid;
    grid-template: repeat(2,1fr) / repeat(3,1fr);
    gap: 25px;
}

.child {
    border-radius: 25px;
    background-size: cover;
    overflow: hidden;
    transition: 0.25s;
}

.child:hover {
    transform: scale(103%);
}
#img1 {
    background-image: url(./image/photo1.png);
}

#img2 {
    background-image: url(./image/photo2.png);
}

#img3 {
    background-image: url(./image/photo3.png);
}

#img4 {
    background-image: url(./image/photo4.png);
}

#img5 {
    background-image: url(./image/photo5.png);
}

#img6 {
    background-image: url(./image/photo6.png);
}

p {
    color: white;
}

.main-p {
    font-size: 4.5rem;
}

.text-p {
    font-size: 1.3rem;
}

.bg1 {
    width: 100%;
    height: 100%;
    background-color: rgba(12, 96, 175, 0.514);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bg2 {
    width: 100%;
    height: 100%;
    background-color: rgba(211, 142, 51, 0.432);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
