.form {
    width: 250px;
    height: 380px;
    background: rgb(194, 192, 255);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 22px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(25, 0, 255);
    border-top: none;
    border-right: none;
    border-left: none;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus {
    outline: none;
}
::placeholder {
    color: #fff;
    font-family: arial;
}
.btnn {
    width: 140px;
    height: 40px;
    background: rgb(38, 0, 255);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor:pointer;
    color: #fff;
    transition: 0.4 ease;
}
.btnn:hover {
    background: #fff;
    color: rgb(0, 21, 255);
    transition: 0.5s ease;
}
.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .limk a{
    text-decoration: none;
    color: rgb(0, 38, 255);
}
.icon i{
    color: black;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.5s ease;
}

.icon i:hover {
    color: rgb(0, 255, 51);
}