*{
    font-family: Roboto;
  }
  
  div {
      width: 300px;
      height: 300px;
      background-color: red;
      color: white;
      font-size: 50px;
  }
  
  div:nth-child(2) {
      background-color: green;
      position: relative;
      left: 300px;
      top: 50px;
  }
  
  /* position: relative; არის ფუნქცია რომელიც მაძლევს ვაკონტროლო div 2 ს ადგილ მდებარეობა
  position static არის პოზიცია რომელიც თავიდან არის ქარხნულად  გაწერილი და მე არ სემიძლია შევუცვალო დაგილ მდებარებო div 2 ს */
  